    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1 zoom=1">

        .container {
            width: 1280px;
            margin: auto;
        }
        
        .navbar {
            width: 95%;
            margin: auto;
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
        }
        
        .logo {
            font-size: 2rem;
            font-weight:100;
        }
